@import './no-mobile.css';
body {
  display: flex;
  margin: 0 auto;
  width: 510px;
  height: 100vh;
}
.left-menu {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 820px;
  background-color: #ececed;
}
.left-menu > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.left-upper {
  margin-top: 60px;
  margin-bottom: 370px;
}
.left-upper > * {
  margin-bottom: 40px;
}
.left-upper > .fa-user {
  opacity: 0.3;
}
.left-upper > .fa-comment {
  opacity: 0.3;
}
.left-down > * {
  margin-bottom: 40px;
}
.main-nav {
  width: 410px;
  height: 820px;
  background-color: rgb(251, 255, 255);
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.header-menu > * {
  margin-left: 10px;
}
.main-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.main-info {
  margin-top: 20px;
}
.main-info__profile {
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgb(215, 215, 215);
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  justify-content: center;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
}
.profile-name {
  font-size: 17px;
}
.profile-email {
  margin-top: 5px;
  font-size: 12px;
}
.main-info__subscribe {
  display: flex;
  border: 0.5px solid rgb(215, 215, 215);
  border-top: none;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
}
.fa-angle-right {
  margin-right: 20px;
}
.subscribe-my {
  font-size: 14px;
}
.main-more {
  margin-top: 70px;
}
.more-first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.more-first > div > i {
  font-size: 30px;
}
.more-first > div > span {
  font-size: 12px;
  margin-top: 15px;
}
.more-first > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-second {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.more-second > div > i {
  font-size: 30px;
}
.more-second > div > span {
  font-size: 12px;
  margin-top: 15px;
}
.more-second > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-third {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.more-third > div > i {
  font-size: 30px;
}
.more-third > div > span {
  font-size: 12px;
  margin-top: 15px;
}
.more-third > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav__hr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  border: 0.2px solid rgb(215, 215, 215);
}
.footer-nav {
  margin-top: 30px;
  margin-left: 20px;
}
.box-title {
  font-weight: 700;
  margin-right: 10px;
}
